#!/bin/sh


export WAKAPI_DB_TYPE=postgres
export WAKAPI_DB_NAME=wakapi
export WAKAPI_DB_USER=wakapi
export WAKAPI_DB_HOST=
export WAKAPI_DB_PORT=5432
export WAKAPI_DB_PASSWORD=
export WAKAPI_PASSWORD_SALT=


git clone "https://github.com/phuwit/KMITL-IntroCloud" ~/IntroCloud
cd ~/IntroCloud/Assignment-Wakapi
sh prepare.sh